<form class="form-horizontal horizontal-center">
	<div class="row">
		<div class="form-group">
			<h2>WE HAVE A WINNER!!</h2>
			<h3>Congratulations: <strong>{{ctrl.emperor.name}}</strong>, you are the new EMPEROR!!</h3>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<button ng-click="ctrl.playAgain()" type="button" class="btn btn-primary">Play Again</button>
		</div>
	</div>
</form>