<form class="form-horizontal enterPlayers">
	<div class="row">
		<div class="col-md-4 col-md-push-1">
			<div class="row">
				<h4 class="horizontal-center"><strong>Enter Player's Names</strong></h4>
				<div class="form-group" ng-repeat="player in ctrl.players track by $index">
					<label class="col-sm-3">Player {{$index + 1}}</label>
					<div class="col-sm-9 {{player.error.name.valid===undefined || player.error.name.valid ?'':'has-error'}}">
						<input ng-model="player.name" type="text" class="form-control" ng-change="ctrl.validatePlayerName($index)" />
						<div class="horizontal-center">
							<span ng-show="!player.error.name.valid" class="help-block">{{player.error.name.message}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group horizontal-center">
					<button ng-click="ctrl.start()" type="button" class="btn btn-primary">Start!</button>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-push-2">
			<h4 class="horizontal-center"><strong>RESULTS</strong></h4>
			<div class="form-group winnersTable">
				<table class="table">
					<thead>
						<tr>
							<th>Player</th>
							<th>Wins</th>	
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="player in ctrl.playerResults">
							<td>{{player.name}}</td>
							<td>{{player.wins}}</td>						
						</tr>				
					</tbody>
				</table>
			</div>
		</div>
	</div>
</form>