<form class="form-horizontal enterPlayers">
	<div class="row">
		<div class="col-md-4 col-md-push-1">
			<div class="row horizontal-center">
				<div class="form-group">
					<h3><strong>Round {{ctrl.roundIndex + 1}}</strong></h3>
				</div>
				<div class="form-group">
					<h4><strong>Player: {{ctrl.player.name}}</strong></h4>
					<div class="col-md-8 col-md-offset-2">
						<label for="select-move">Select a Move:</label>
						<select id="select-move" class="form-control"  data-ng-options="m.name for m in ctrl.moves" ng-model="ctrl.playerMove"></select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-group horizontal-center">
					<button ng-click="ctrl.ok()" type="button" class="btn btn-primary">OK</button>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-push-2">
			<h4 class="horizontal-center"><strong>Score</strong></h4>
			<div class="form-group winnersTable">
				<table class="table">
					<thead>
						<tr>
							<th>Round</th>
							<th>Winner</th>														
						</tr>
					</thead>
					<tbody>
						<tr ng-class="round.winner===undefined?'bg-warning':(round.winner.draw?'bg-info':'bg-success')" ng-repeat="round in ctrl.rounds">
							<td>{{round.index + 1}}</td>
							<td>{{round.winner===undefined?'?':(round.winner.draw?'Draw':round.winner.name)}}</td>							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</form>