.enterPlayers h4 {
    padding-bottom: 15px;
}

.winnersTable tbody {
    display:block;
    max-height:153px;
    overflow-y:scroll;
}
.winnersTable thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.winnersTable thead {
    width:92%; 
}
.winnersTable table {
    width:100%;
}